<h1>About the Brewmasters</h1>
<p>
  <%= image_tag("jack.png", :alt => "Jack") %>
  <%= image_tag("adam.png", :alt => "Adam") %>
  <%= image_tag("dave.png", :alt => "Dave") %>
</p>
<p>
	We love beer and we love to skydive. What more is there to say?
</p>
