<h1>About the Brewmasters</h1>
<p>
<table>
  <tr>
  	<th></th>
  	<th></th>
  	<th></th>
  </tr>
  <tr>
    <td><%= image_tag("jack.png", :alt => "Jack") %> </td>
    <td><%= image_tag("adam.png", :alt => "Adam") %> </td>
    <td><%= image_tag("dave.png", :alt => "Dave") %> </td>
  </tr>
  <tr>
  	<td><h3 align="center">Jack</h3></td>
  	<td><h3 align="center">Adam</h3></td>
  	<td><h3 align="center">David</h3></td>
  </tr>
</table>
</p>
<p>
	<h2>We love beer and we love to skydive. What more is there to say? </h2>
</p>
