<p class="round">
  <h1>Welcome to Blue Skies Brewery</h1>
  <h3>Beers brewed with fresh hops, delicious malts, and a taste of freefall</h3>
  	<ul>
  	  <li><%= link_to "Our Brews", 'beers#show' %></li>
  	  <li><%= link_to "About the Brewmasters", 'about' %></li>
  	  <li><%= link_to "Brewing Calendar", 'calendar' %></li>
  	</ul>

</p>

<%= link_to "Register", signup_path, :class => "signup_button round" %>
